<template name="aboutUs">
    <h3>About Buzzradio.lk</h3>
  <p>Buzz Radio Sri Lanka is a non-commercial internet radio
    station, which comprises highly devoted skilled volunteers from
    all over the world. Our preliminary intention is to provide a
    place to listen original Sri Lankan music from local artists
    despite the location of the listeners. Our regular program
    schedule over the week varies from request shows, discussions,
    interviews and international music presentations. In addition, we
    do warmly welcome the suggestions of our listeners for new
    programs and constructive changes. We are running on our own media
    server, which streams high quality audio at a lower bite-rate, so
    everyone can listen without hesitating about their internet bill.
    A highly skilled technical staff and presenters will ensure the
    up-time of the audio stream and maximum satisfaction of the
    listeners.</p>
  <p>Moreover, we have a media coverage team operates in Sri
    Lanka and they do provide live or offline media coverage for
    community events. The details can be found at contact us page. We
    always welcome your comments and feedback for the betterment of
    our service.</p>
  <p>Enjoy!</p>
  <p>Team BuzzRadio Sri Lanka</p>
</template>