<template name="aboutUs">
  <h3>About Buzzradio.lk</h3>
  <p>Buzz Radio Sri Lanka is a non-commercial internet radio station, which comprises highly devoted skilled volunteers from all over the world. Our preliminary intention is to provide a place to listen original Sri Lankan music from local artists despite the location of the listeners. Our regular program schedule over the week varies from request shows, discussions, interviews and international music presentations. In addition, we do warmly welcome the suggestions of our listeners for new programs and constructive changes. We are running on our own media server, which streams high quality audio at a lower bite-rate, so everyone can listen without hesitating about their internet bill. A highly skilled technical staff and presenters will ensure the up-time of the audio stream and maximum satisfaction of the listeners.
  </p>
  <p>Moreover, we have a media coverage team operates in Sri Lanka and they do provide live or offline media coverage for community events. The details can be found at contact us page. We always welcome your comments and feedback for the betterment of our service.</p>
  <p>Enjoy!</p>
  <h3>Team BuzzRadio Sri Lanka</h3>
  <div id="team-profiles">
    <div class="row">
      <div class="span2 member-info">
        <img src="/img/members/pahan.png" />
        <h4 class="member-name">Pahan</h4>
      </div>
      <div class="span2 member-info">
        <img src="/img/members/lishan.png" />
        <h4 class="member-name">Lishan</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/lasitha.png" />
        <h4 class="member-name">Lasitha</h4>
      </div>


      <div class="span2 member-info">
        <img src="/img/members/wap.png" />
        <h4 class="member-name">Wap</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/priyantha.png" />
        <h4 class="member-name">Priyantha</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/dilan.png" />
        <h4 class="member-name">Dilan</h4>
      </div>
    </div>
    <div class="row">
      <div class="span2 member-info">
        <img src="/img/members/kavindya.png" />
        <h4 class="member-name">Kavindya</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/thisara.png" />
        <h4 class="member-name">Thisara</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/dulan.png" />
        <h4 class="member-name">Dulan</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/milush.png" />
        <h4 class="member-name">Milush</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/hasi.png" />
        <h4 class="member-name">Hasi</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/ayesha.png" />
        <h4 class="member-name">Ayesha</h4>
      </div>
    </div>
    <div class="row">
      <div class="span2 member-info">
        <img src="/img/members/malithi.png" />
        <h4 class="member-name">Malithi</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/neranji.png" />
        <h4 class="member-name">Neranji</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/ushan.png" />
        <h4 class="member-name">Ushan</h4>
      </div>
      <div class="span2 member-info">
        <img src="/img/members/shaminda.png" />
        <h4 class="member-name">Shaminda</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/shehan.png" />
        <h4 class="member-name">Shehan</h4>
      </div>

      <div class="span2 member-info">
        <img src="/img/members/beetal.png" />
        <h4 class="member-name">Beetle</h4>
      </div>

    </div>
    <div class="row">
      <div class="span2 member-info">
        <img src="/img/members/vampa.png" />
        <h4 class="member-name">Vampa</h4>
      </div>
      <div class="span2 member-info">
        <img src="/img/members/kido.png" />
        <h4 class="member-name">Kido</h4>
      </div>
    </div>
  </div>
</template>