<template name="chat">
  <div class="popover-title span12">
    යාළුවෝ එක්ක Chatක් දාන්න
    <span class="pull-right">{{>loginButtons}}
    </span>
  </div>
  <div class="span12 well" id="chat">
    <ul class="unstyled">
      {{#each messages}}
      <li>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{picture}}">
          </a>
          <div class="media-body">
            <span class="media-heading muted">{{from}} | {{ relativeTime currentTime createdAt}}</span>{{#if isInRole 'admin'}}
            <span> <a href="#banUserModal" data-toggle="modal" class="banbtn">Ban User</a>
            </span>{{/if}}
            <div>{{{parseSmileys message}}}</div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="span12 " id="chat-form-wrap">
    <form id="sendchat" class="form-inline">
      <div class="row-fluid">
        <input type="text" name="message" placeholder="Message" autocomplete="off" class="span10">
        <input class="pmessage btn btn-primary span2 pull-right" type="submit" value="Send">
      </div>
    </form>
  </div>
</template>